@font-face {
  font-family: "gotham";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"); }

@font-face {
  font-family: "gotham";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #f9f9f9;
  padding: 34px 0 30px; }

button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  border: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 32px;
  font-size: 11px;
  font-weight: 600; }
  .btn .icon {
    padding: 0 5px 0 0; }

.btn-accent {
  border-radius: 15px;
  color: #fff;
  background: #ff5a00; }
  .btn-accent:hover {
    background: #e98b2f;
    color: #fff; }

.btn-blue {
  border-radius: 15px;
  background-color: #2cc1dc;
  color: #fff; }
  .btn-blue:hover {
    background: #26a8bf;
    color: #fff; }

h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: 27.5px;
  font-weight: 600;
  color: #f05901;
  text-transform: uppercase;
  margin: 0 0 40px;
  width: 100%; }

h3 {
  text-transform: uppercase;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px; }

.container {
  max-width: 970px; }

.error {
  padding: 20px 0;
  height: 100vh; }
  .error .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 80px auto; }
  .error .text-box {
    margin: 16px 0 12px;
    font-size: 10.5px;
    max-width: 360px; }
  .error .btn {
    max-width: 101px;
    font-size: 11px;
    font-weight: 600;
    z-index: 1;
    position: relative; }
  .error .container {
    height: 100%; }
    .error .container .row {
      height: 100%;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.error-title__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.img-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.error-title {
  position: relative; }

.main-slider {
  background: #ffcb05;
  height: 100vh; }
  .main-slider .container, .main-slider .slick-list, .main-slider .slick-track {
    height: 100%; }
  .main-slider .row {
    height: 100%; }

.main-slider__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 154px 0 100px;
  position: relative;
  height: 100%; }
  .main-slider__content:before {
    content: '';
    position: absolute;
    background: url("../img/decor-img1.png") no-repeat center;
      background-size: contain;
    width: 489px;
    height: 274px;
    right: 0;
    top: 0; }
  .main-slider__content:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 454px;
    height: 170px;
    background: url("../img/decor-img2.png") no-repeat center;
      background-size: contain; }

.main-slider__image {
  max-width: 482px;
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 -70px; }
  .main-slider__image .img {
    width: 100%; }

.main-slider__image-bg {
  position: absolute;
  left: 45%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 681px; }

.main-slider__text {
  max-width: 418px;
  width: 100%;
  position: relative;
  z-index: 1; }
  .main-slider__text .item-text {
    background: url("../img/tooltip-bg.png") no-repeat center;
      background-size: 100%;
    width: 418px;
    height: 252px;
    padding: 51px 51px 63px 94px;
    margin: 0 0 94px;
    font-size: 15.5px;
    color: #252525; }
  .main-slider__text .btn {
    max-width: 212px;
    height: 51px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 0 50px; }
    .main-slider__text .btn .icon {
      margin: 0 0 0 20px; }

.name-products__slide {
  font-size: 19.5px;
  font-weight: 600;
  color: #ff5a00;
  padding: 0 0 20px;
  margin: 0 0 23px;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 3px dotted #ff5a00; }

header {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px rgba(222, 222, 222, 0.63); }

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fd5f00;
  padding: 9px 20px; }

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li a {
    color: #1b1b1b;
    font-size: 13px;
    padding: 22px 0;
    border-bottom: 2px solid transparent; }
    .menu li a:hover {
      color: #ff5a00;
      border-bottom-color: #ff5a00; }
  .menu li .active {
    color: #ff5a00;
    border-bottom-color: #ff5a00; }

.button-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.links-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px; }

header .button-group {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.btn-score {
  max-width: 155px; }

.btn-partner {
  max-width: 87px;
  margin: 0 16px 0 13px; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 47px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 970px;
  margin: 0 auto; }
  .slick-dots li {
    margin: 0 19px 0 0;
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    width: 13px;
    height: 13px;
    background: #ff5a00; }

.slick-arrow {
  z-index: 1;
  opacity: 1; }

.slick-prev {
  left: 0;
  width: 63px;
  height: 44px;
  background-color: #fd5f00;
  padding: 13px 18px;
  border-radius: 0 15px 15px 0; }
  .slick-prev:before {
    content: '';
    border: none;
    width: 13px;
    height: 21px;
    background: url("../img/arrow-left.png") no-repeat center;
      background-size: 100%;
    position: absolute;
    right: 18px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1; }

.slick-next {
  right: 0;
  width: 63px;
  height: 44px;
  background-color: #fd5f00;
  padding: 13px 18px;
  border-radius: 15px 0 0 15px; }
  .slick-next:before {
    content: '';
    border: none;
    width: 13px;
    height: 21px;
    background: url("../img/arrow-right.png") no-repeat center;
      background-size: 100%;
    position: absolute;
    left: 18px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1; }

.slick-slide {
  outline: none; }

.nav-breadcrumb {
  margin: 27px 0 40px;
  padding: 0; }

.breadcrumb {
  padding: 0;
  background: transparent;
  border-radius: 0;
  color: #999999;
  font-size: 10.5px;
  margin: 0; }

.breadcrumb-item {
  margin: 0 0 4px; }
  .breadcrumb-item a {
    color: #999999;
    font-size: 10.5px; }

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  color: #999999;
  padding-right: 10px; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 10px;
  color: #999999; }

.sales {
  margin: 0 0 65px; }

.sales-box {
  margin: 0 0 65px;
  font-family: "gotham", sans-serif;
  max-width: 403px;
  width: 100%; }

.sales-box__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 265px;
  overflow: hidden; }
  .sales-box__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.sales-box__body {
  padding: 34px 0 0; }

.sales-box__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #656565;
  font-size: 13px; }

.sales-box__name {
  color: #000000;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.38px;
  margin: 0 0 10px;
  text-transform: uppercase; }

.date-icon {
  margin: 0 8px 0 0;
  width: 17px;
  min-width: 17px; }

.sales-box__disable .sales-box__name {
  color: rgba(0, 0, 0, 0.6); }

.sales-box__disable .sales-box__date {
  color: rgba(101, 101, 101, 0.55); }

.sales-box__disable .date-icon {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .66; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 6px 0 0; }
  .list-social li {
    margin: 0 13px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.list-social__text {
  font-size: 10.5px;
  color: #3b3b3b;
  max-width: 93px;
  margin: 0 0 0 auto; }

.footer-box {
  font-size: 10.5px;
  color: #000;
  letter-spacing: -0.11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-box:last-child {
    margin: 0; }

.footer-box__text {
  max-width: 228px;
  margin: 0 0 0 11px; }

.phone {
  margin: 20px 0 3px 0; }

.footer-box__icon {
  width: 12px;
  min-width: 12px; }

.copyright {
  margin: 20px 0 0;
  text-align: right;
  font-size: 10px;
  color: #a5a5a5; }

.present-img {
  width: 100%;
  margin: -15px 0 0; }
  .present-img img {
    width: 100%; }

.present {
  position: relative;
  width: 454px;
  height: 294px;
  background: url("../img/tooltip-bg2.png") no-repeat center;
    background-size: 100%;
  padding: 36px 68px 20px 120px;
  margin: 0 0 0 -80px; }
  .present .description {
    margin: 25px 0;
    font-size: 15px;
    color: #333; }
  .present .sales-box__date {
    color: #333333;
    font-size: 13px;
    font-weight: 600; }
    .present .sales-box__date p {
      max-width: 175px;
      width: 100%; }
  .present .date-icon {
    width: 26px;
    min-width: 26px;
    height: 26px; }
    .present .date-icon img {
      width: 100%; }

.terms-action {
  margin: 46px 0 73px;
  color: #3d3d3d;
  font-size: 14px; }
  .terms-action .button-group {
    margin: 50px 0 0; }
  .terms-action ul {
    margin: 30px 0; }
  .terms-action .text p {
    margin: 0 0 15px; }
    .terms-action .text p:last-child {
      margin: 0; }
  .terms-action strong {
    font-weight: 600; }
  .terms-action .btn {
    max-width: 326px;
    margin: 0 90px 0 0; }
    .terms-action .btn:last-child {
      margin: 0; }
  .terms-action .button-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.list-number {
  counter-reset: item;
  font-size: 14px; }
  .list-number li {
    margin: 0 0 15px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-number li:last-child {
      margin: 0; }
    .list-number li:before {
      content: counter(item, decimal-leading-zero) ".";
      display: inline-block;
      counter-increment: item;
      font-weight: 600;
      margin: 0 5px 0 0; }

.btn-border {
  border: dashed 1.5px #b6b6b6;
    border-radius: 0;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  font-size: 14px;
  font-weight: 500; }
  .btn-border .icon {
    margin: 0 12px 0 0; }
  .btn-border:hover {
    color: #ff5a00; }

.btn-border-orange {
  border-color: #ff5a00;
  color: #ff5a00; }
  .btn-border-orange:hover {
    color: #333333; }

.issue-card {
  width: 100%;
  height: 490px; }
  .issue-card iframe {
    width: 100%;
    height: 100%; }

.issue-map {
  width: 100%;
  height: 100%; }

.issuing-center {
  margin: 0 0 36px; }

.dropdown {
  width: 100%;
  position: relative;
  margin: 29px 0 0; }

.dropDown-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 7px;
  border: solid 1px #a9a9a9;
  padding: 13px 19px 13px 15px;
  color: #7c7c7c;
  font-size: 15px;
  letter-spacing: -0.3px;
  cursor: pointer; }

.dropdown-toggle::after {
  content: '';
  background: url("../img/arrow-bottom-grey.png") no-repeat center;
    background-size: contain;
  border: none;
  width: 10px;
  height: 5px; }

.dropdown-menu {
  width: 100%;
  margin: -1px 0 0;
  padding: 4px 15px 7px;
  border: solid 1px #a9a9a9;
    border-radius: 0 0 7px 7px;
    border-top: none; }

.dropdown-menu.show {
  -webkit-transform: none !important;
          transform: none !important;
  top: 100% !important; }

.dropdown.show .dropDown-item {
  border-bottom: none;
  border-radius: 7px 7px 0 0; }

.form-search {
  width: 100%;
  position: relative;
  border: solid 1px #dbdbdb;
    border-radius: 10px;
  overflow: hidden;
  margin: 0 0 17px; }
  .form-search input {
    width: 100%;
    height: 40px;
    border: none;
      border-radius: 0;
    color: #575656;
    font-size: 14px;
    outline: none;
    padding: 0 40px; }
  .form-search label {
    width: 100%; }
  .form-search button {
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 15px;
    height: 16px;
    left: 15px;
    background: transparent; }

.pic-points {
  width: 324px;
  height: 187px;
  background: url("../img/tooltip-bg3.png") no-repeat center;
    background-size: 100%;
  padding: 36px 32px 20px;
  text-align: left;
  color: #282b2b;
  font-size: 13px;
  margin: -200px 0 0px -100px; }

.pic-points__title {
  color: #282b2b;
  font-weight: bold;
  margin: 0 0 20px; }

.scroll-horizontal {
  height: 470px;
  overflow-x: scroll;
  padding: 0 0 26px; }
  .scroll-horizontal::-webkit-scrollbar {
    width: 10px;
    height: 1px; }
  .scroll-horizontal::-webkit-scrollbar-track {
    background-color: #adadad;
    border-radius: 2.5px;
    height: 5px; }
  .scroll-horizontal::-webkit-scrollbar-track-piece {
    background-color: #dbdbdb; }
  .scroll-horizontal::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 2.5px;
    height: 5px; }
  .scroll-horizontal::-webkit-scrollbar-corner {
    background-color: #dbdbdb; }
  .scroll-horizontal::-webkit-resizer {
    background-color: #adadad;
    border-radius: 2.5px;
    height: 5px; }

.country-box {
  margin: 0 0 10px; }

.list-country {
  font-size: 12px;
  height: 100%;
  width: 100%;
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5; }
  .list-country li a {
    color: #575656;
    line-height: 1.58;
    letter-spacing: -0.19px; }

.country-box__title {
  font-weight: bold;
  color: #fd6408;
  margin: 10px 0 5px; }

.filter-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 25px; }

.filter-item {
  margin: 0 0 10px; }

.filter-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #9e9e9e;
    border-radius: 10px;
  padding: 9px 19px;
  font-size: 15.5px;
  color: #8f8f8f; }
  .filter-links:hover {
    border-color: #ff5a00;
    color: #ff5a00; }

.filter-links.active {
  color: #ff5a00;
  border-color: #ff5a00; }

.product-title__category {
  margin: 30px 0 45px;
  font-size: 20px;
  font-weight: 600; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px;
  color: #000000;
  font-size: 14px; }

.product-card__name {
  max-width: 180px;
  margin: 10px auto 0;
  color: #000000;
  line-height: 1.1; }
  .product-card__name:hover {
    color: #ff5a00; }
  .product-card__name span {
    display: block; }

.packing {
  margin: 10px auto 0;
  color: #68676c;
  font-size: 9.5px; }

.new-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 9px auto 0;
  width: 67px;
  height: 23px;
  border-radius: 10px;
  border: solid 1.5px #fd5f00;
  color: #ff5a00;
  font-size: 11px;
  font-weight: 600; }

.politics {
  padding: 0 0 70px; }

.text-item {
  color: #242424;
  font-size: 12px; }
  .text-item p {
    margin: 0 0 20px; }
    .text-item p:last-child {
      margin: 0; }
  .text-item ul {
    padding: 0 0 0 20px;
    margin: 0 0 20px; }
    .text-item ul:last-child {
      margin: 0; }
    .text-item ul li {
      margin: 0 0 20px; }
      .text-item ul li:last-child {
        margin: 0; }

.list-arrow li {
  position: relative;
  padding: 0 0 0 24px; }
  .list-arrow li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 9px;
    background: url("../img/arrow-right-orange.png") no-repeat center;
      background-size: contain; }

.mission-company {
  background: url("../img/about-bg.jpg") no-repeat center;
    background-size: cover;
  padding: 80px 0 190px;
  color: #fff; }
  .mission-company h2 {
    margin: 0 0 36px; }
  .mission-company .text-box {
    max-width: 355px;
    width: 100%;
    font-size: 14px;
    font-weight: 500; }

.history {
  padding: 59px 0 66px; }

.history-img {
  margin: 22px 0 0; }

.geography {
  padding: 46px 0 37px;
  background: #fbfbfb; }
  .geography h2 {
    margin: 0 0 30px; }
  .geography .text-box {
    font-size: 14px;
    margin: 10px 0 0;
    max-width: 457px;
    width: 100%; }

.geography-shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.geography-share {
  padding: 5px 0 5px 35px;
  border-left: solid 2px #fe6910;
  font-size: 14px;
  color: #222222; }
  .geography-share .percent {
    font-size: 55px;
    margin: 0 0 10px;
    color: #3f3f3f; }

.model-business {
  padding: 70px 0; }

.model-business__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 90px 0 0; }

.model-business__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #333132;
  font-size: 12.5px;
  max-width: 130px;
  width: 100%; }
  .model-business__box h4 {
    font-size: 14.5px;
    font-weight: 600;
    color: #333132;
    min-height: 60px;
    margin: 29px auto 15px; }

.model-business__icon {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.choose {
  background: #fbfbfb;
  padding: 44px 0 20px; }
  .choose h2 {
    margin: 0 0 60px; }

.choose-box {
  margin: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.market-place {
  padding: 70px 0 40px; }
  .market-place h2 {
    margin: 0 0 38px; }

.market-place__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #555555;
  font-size: 13.5px;
  margin: 0 0 40px; }

.market-place__icon {
  width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 122px; }

.market-place__text {
  max-width: 275px;
  width: 100%;
  margin: 0 0 0 25px; }

.search {
  padding: 0 0 108px; }
  .search .form-search {
    margin: 0 0 46px; }
  .search h2 {
    margin: 0 0 44px; }

.search-result__box {
  width: 100%;
  border-top: dashed 1.2px #b6b6b6;
  padding: 17px 0 28px;
  font-size: 13px; }
  .search-result__box .text-box {
    max-width: 840px;
    width: 100%; }

.category-name {
  color: #fd5f00;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.name-product {
  margin: 17px 0 12px;
  font-size: 17.5px;
  font-weight: 600;
  color: #000; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .img-bg {
    max-width: 350px; }
  .error .text-box {
    margin: 20px auto;
    text-align: center;
    max-width: none; }
  .error h2 {
    text-align: center; }
  .error .btn {
    margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
