//новые страницы поиск и блог

//search result pages
.header-search
  padding: 23px 0 47px
  background: #fff
  border: none
  h1
    color: #000
    font-size: 47px
    margin: 0
    width: fit-content
  .form-search
    border: none
    border-radius: 20px
    margin: 0
    max-width: 335px
    width: 100%
    input
      border: none
        radius: 20px
      height: 40px
      background-color: #f2efed
      padding: 0 37px
      color: #7d7671
      font-style: italic
      letter-spacing: 0.11px
      &::placeholder
        color: #7d7671
    button
      right: 13px
      left: auto
      width: 22px
      height: 24px
  .list-social
    margin: 0 0 30px
    li
      a
        filter: grayscale(100%)


.search-result-page__header
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  padding: 0 0 25px
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 5px
    background: url("../img/line-title.png") no-repeat center
      size: cover


.footer-search
  background: $accent
  padding: 12px 0 14px
  .copyright
    text-align: right
    color: #fff
    margin: 0 0 0 auto
    width: auto
  .logo-footer
    img
      filter: brightness(0) invert(1)
  .list-social
    margin: 0 0 0 29px
    li
      a
        filter: brightness(0) invert(1)

.content-search
  padding: 40px 0 73px
  background: #f8f8f8

.search-category
  margin: 25px 0 0
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 20px
  li
    &:last-child
      a
        &:after
          display: none
    a
      color: #1b1b1b
      display: inline-block
      &:after
        content: '|'
        display: inline-block
        margin: 0 10px

.content-search-subtitle
  display: flex
  align-items: center
  color: #1b1b1b
  font-size: 20px
  font-style: italic
  letter-spacing: 0.14px
  margin: 0 0 40px
  .icon
    margin: 0 16px 0 0
    width: 22px

.pagination-search
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 49px 0 0
  font-size: 22.5px
  font-weight: bold
  li
    margin: 0 10px 0 0
    &:last-child
      margin: 0 0 0 10px
      a
        width: fit-content
        border: none

    a
      text-align: center
      color: #1b1b1b
      width: 32px
      padding: 0 0 6px
      border-bottom: 4px solid transparent
    .active
      border-bottom-color: $accent
    &:first-child
      margin: 0 20px 0 0
      .pagination-prev
        width: fit-content
        border: none
        img
          transform: rotate(180deg)




.search-card
  background: #fff
  width: 100%
  padding: 28px 49px 30px 30px
  display: flex
  align-items: center
  flex-wrap: wrap
  color: #1c1c1c
  h3
    color: #1c1c1c
    font-size: 30px
    font-weight: 600
    text-decoration: underline
    margin: 0 0 29px
    text-transform: none
    letter-spacing: -0.6px
    font-family: 'Montserrat', sans-serif
  &:last-child
    margin: 0
  .box-text
    letter-spacing: 0.11px

.search-card__title
  color: #1c1c1c
  font-size: 30px
  font-weight: 600
  text-decoration: underline
  margin: 0 0 29px
  text-transform: none
  letter-spacing: -0.6px
  font-family: 'Montserrat', sans-serif
  &:hover
    color: $accent


.search-card__img
  width: 357px
  height: 207px
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

.search-card__body
  width: calc(100% - 357px)
  padding: 0 0 0 60px

.mb-25
  margin-bottom: 25px

.search-card-column
  padding: 26px 22px 23px
  height: 100%
  margin: 0
  flex-direction: column
  align-items: flex-start
  .search-card__img
    width: 100%
    height: 262px
    margin: 0 auto
  .search-card__body
    padding: 35px 0 0
    min-height: 260px
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
  .search-card__title
    margin: 0 0 24px
  .box-text
    max-width: 343px
    margin: 0 0 20px

.search-card__body-footer
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  color: #bdbdbd
  font-size: 15px
  margin: auto 0 0

.search-card__body-item
  display: flex
  align-items: center
  margin: 0 25px 0 0
  &:last-child
    margin: 0
  .icon
    width: 25px
    margin: 0 4px 0 0

.date-item
  .icon
    width: 20px

.comment-item
  .icon
    width: 23px

.content-blog
  .nav-breadcrumb
    margin: 0 0 13px

.content-blog-home
  background: url("../img/bg-blog.jpg") no-repeat center
    size: cover
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(#000, .3)
  h1
    text-align: center
    color: #fff
    text-transform: none
    margin: 0 auto 35px
    font-size: 62px
  .search-card__body-footer
    margin: 0
    justify-content: center
    color: #fff
    font-size: 18.5px
    .icon
      filter: brightness(0) invert(1)

.content-blog-home__content
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  min-height: 533px

.recipes
  padding: 69px 0 60px
  position: relative
  z-index: 1
  &:before
    content: ''
    position: absolute
    bottom: -35px
    left: 50%
    transform: translate(-50%,0)
    border-left: 63px solid transparent
    border-right: 63px solid transparent
    border-top: 38px solid #fff
  h2
    text-transform: none
    margin: 0 0 29px
    font-size: 32px
    font-weight: 600
  .box-text
    font-size: 18px
    letter-spacing: 0.13px
    line-height: 1.72
  .list-dots
    padding: 0 0 0 50px
    margin: 50px 0
    font-size: 18px
  .list-number
    padding: 0 0 0 50px
    margin: 50px 0
    font-size: 18px
    li
      &:before
        color: $accent

.blockquote
  margin: 40px 0 78px
  display: flex
  align-items: flex-start
  background: #f6f4f2
  padding: 27px 37px
  font-size: 21px
  font-style: italic
  letter-spacing: -0.42px

.blockquote-icon
  width: 33px
  min-width: 33px
  margin: 0 39px 0 0

.color-accent
  color: $accent

.recipes-box
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  width: 100%

  h3
    margin: 0 0 35px
    font-size: 25px
    font-weight: 600
    text-transform: none



.list-dots
  li
    position: relative
    margin: 0 0 10px
    padding: 0 0 0 29px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translate(0,-50%)
      width: 9px
      height: 9px
      background: $accent
      border-radius: 50%
    &:last-child
      margin: 0

.recipes-box__content
  width: calc(100% - 421px)
  padding: 0 100px 0 0

.recipes-box__img
  width: 421px
  margin: 0 0 60px
  img
    width: 100%

.signature
  font-style: italic
  margin: 16px 0 0
  color: #a2a1a1
  font-size: 15px
  line-height: 1.93
  letter-spacing: -0.3px

.recipes-img
  margin: 28px 0 44px
  .img
    max-height: 510px
    width: 100%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    img
      width: 100%
      height: 100%
      object-fit: cover

.table-recipes
  margin: 76px auto 0
  width: 100%
  max-width: 1162px
  font-size: 18px
  border-bottom: 7px solid #f6f4f2
  .td
    padding: 10px 60px

.table-head, .table-body
  width: 100%
  .td
    min-height: 73px
    border:
      right: solid 2px #ececec
  .tr
    border-bottom: solid 2px #ececec
    width: 100%
    display: flex
    align-items: stretch

    &:last-child
      border: none


.table-head
  background: #f6f4f2

  .td
    display: flex
    align-items: center
    flex-wrap: wrap
    width: 70%
    &:first-child
      width: 30%
    &:last-child
      border: none

.table-body
  .td
    min-height: 95px
    display: flex
    align-items: center
    width: 70%
    &:first-child
      width: 30%
    &:last-child
      border: none

.similar-articles
  padding: 55px 0 102px
  background: #f6f6f6
  h3
    text-transform: none
    margin: 0 0 36px
    font-size: 25px

.schedule-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin: 0 0 45px

.list-share
  display: flex
  align-items: center
  li
    margin: 0 11px 0 0
    &:last-child
      margin: 0

.schedule-wrapper-text
  display: flex
  align-items: center
  font-size: 25px
  font-weight: 600
  color: #464646
  margin: 0 40px 0 0
  .icon
    margin: 0 17px 0 0

.comments-blog
  margin: 70px 0 0

.form-comment
  width: 100%
  background: #fff
  border: solid 2px #d7d7d7
  textarea
    border: none
    width: 100%
    padding: 31px 37px
    color: #a5a5a5
    font-size: 23px
    height: 122px
  label
    width: 100%

.comment-panel
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  border:
    top: solid 2px #d7d7d7
  padding: 4px 10px

.comment-panel-item
  margin: 0 5px 0 0
  padding: 0 5px 0 0
  border:
    right: solid 2px #d7d7d7
  &:last-child
    margin: 0
    padding: 0
    border: none

.user-icon
  display: flex
  align-items: center
  justify-content: center


//media
@media (max-width: 992px)
  .header-search
    padding: 30px 0
    h1
      font-size: 30px

  .search-category, .content-search-subtitle
    font-size: 18px

  .search-card
    padding: 20px
    &__img
      width: 250px
      height: 200px
    &__body
      width: calc(100% - 250px)
      padding: 0 0 0 30px

  .search-card__title
    font-size: 24px
    margin: 0 0 20px

  .content-search
    padding: 30px 0

  .pagination-search
    margin: 20px 0 0
    font-size: 16px

  .recipes-box__content
    padding: 0 30px 0 0

  .recipes .list-dots, .recipes .list-number
    margin: 20px 0
    padding: 0
    font-size: 16px

  .recipes .box-text
    font-size: 16px

  .recipes-box h3
    font-size: 24px
    margin: 0 0 25px

  .recipes-img
    margin: 25px 0



@media (max-width: 768px)
  .content-blog-home__content
    min-height: auto
    padding: 60px 0

  .content-blog-home h1
    font-size: 50px

  .recipes .box-text
    font-size: 16px
    line-height: normal

  .recipes h2
    font-size: 26px

  .blockquote
    padding: 20px
    margin: 30px 0

  .blockquote-icon
    margin: 0 10px 0 0

  .recipes
    padding: 30px 0

  .recipes-box__content
    width: 100%
    padding: 0
    margin: 0 0 30px

  .recipes-box__img
    margin: 0 auto 30px
    width: 100%
    max-width: 350px

  .recipes-img .img
    max-height: 400px

  .table-recipes
    margin: 30px 0 0
    font-size: 16px

  .table-recipes .td
    padding: 10px 15px

  .form-comment textarea
    padding: 20px
    font-size: 16px

  .comments-blog
    margin: 30px 0 0

@media (max-width: 650px)
  .header-search .form-search
    max-width: none
    margin: 20px auto 0

  .header-search h1
    font-size: 26px

  .content-blog-home h1
    font-size: 40px

  .content-blog-home .search-card__body-footer
    font-size: 16px

@media (max-width: 575px)
  .search-card
    flex-direction: column
    align-items: center
    font-size: 14px
    &__img
      margin: 0 auto 20px
      width: 100%
    &__body
      width: 100%
      padding: 0

  .footer-search
    .logo-footer
      display: flex
      max-width: 200px
      margin: 0 auto 10px

  .search-category, .content-search-subtitle
    font-size: 16px

  .content-search-subtitle
    margin: 0 0 20px

  .search-card-column .search-card__body
    min-height: auto
    padding: 20px 0 0

  .search-card-column .box-text
    max-width: none

  .search-card-column .search-card__img
    height: 200px

  .content-blog-home h1
    font-size: 30px

  .table-head, .table-body
    .td
      width: 60%
      &:first-child
        width: 40%

  .table-recipes
    font-size: 14px

  .schedule-wrapper-text
    font-size: 18px
    margin: 0 20px 0 0

  .list-share
    li
      a
        width: 40px
        height: 40px

  .similar-articles h3
    margin: 0 0 25px
    font-size: 24px

  .schedule-wrapper
    margin: 0 0 30px

  .form-comment
    margin: 30px auto 0

  .similar-articles
    padding: 40px 0

  .footer-search
    .copyright
      margin: 0 auto 10px
      width: 100%
      text-align: center
      justify-content: center
    .list-social
      margin: 0 auto

@media (max-width: 420px)
  .schedule-wrapper-text
    width: 100%
    margin: 0 auto 10px
    text-align: center
    justify-content: center

