@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font

html, body
  overflow-x: hidden
  height: 100%

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  &:hover
    text-decoration: none

.wrapper
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1 0 auto

footer
  flex: 0 0 auto
  background: #f9f9f9
  padding: 34px 0 30px
  .btn-call
    display: none


button
  outline: none
  box-shadow: none
  padding: 0
  box-sizing: border-box
  transition: .3s ease
  cursor: pointer
  border: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  width: 100%
  height: 32px
  font-size: 11px
  font-weight: 600
  padding: 0
  .icon
    padding: 0 5px 0 0

.btn-accent
  border-radius: 15px
  color: #fff
  background: $accent
  &:hover
    background: rgb(233, 139, 47)
    color: #fff

.btn-blue
  border-radius: 15px
  background-color: #2cc1dc
  color: #fff
  &:hover
    background: #26a8bf
    color: #fff

h2
  font-size: 20px
  font-weight: bold
  text-transform: uppercase

h1
  font-size: 28.5px
  font-weight: 600
  color: #f05901
  text-transform: uppercase
  margin: 0 0 40px
  width: 100%

h3
  text-transform: uppercase
  color: #333333
  font-size: 20px
  font-weight: 600
  letter-spacing: -0.4px

input
  width: 100%
  border-radius: 7px
  border: solid 1px #a9a9a9
  height: 37px
  padding: 0 20px
  box-sizing: border-box
  outline: none
  font-size: 14.5px
  font-family: $default-font
  color: #595858
  &::placeholder
    color: #595858


.container
  max-width: 970px

.logo-footer
  max-width: 230px
  width: 100%

//error
.error
  padding: 20px 0
  height: 100vh
  .logo-footer

    display: flex
    align-items: center
    justify-content: center
    margin: 80px auto
  .text-box
    margin: 16px 0 12px
    font-size: 10.5px
    max-width: 360px
  .btn
    max-width: 101px
    font-size: 11px
    font-weight: 600
    z-index: 1
    position: relative
  .container
    height: 100%
    .row
      height: 100%
      align-items: flex-end
      justify-content: center

.error-title__img
  display: flex
  align-items: center
  justify-content: center

.img-bg
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  width: 100%
  max-width: 554px
  display: flex
  align-items: center
  justify-content: center

.error-title
  position: relative

//main-slider
.main-slider
  background: #ffcb05
  height: 100vh
  .container, .slick-list, .slick-track
    height: 100%
  .row
    height: 100%



.main-slider__content
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  padding: 154px 0 100px
  position: relative
  height: 100%
  &:before
    content: ''
    position: absolute
    background: url("../img/decor-img1.png") no-repeat center bottom
      size: contain
    width: 489px
    height: 274px
    right: 0
    top: 0
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: 0
    width: 454px
    height: 170px
    background: url("../img/decor-img2.png") no-repeat center top
      size: contain

.main-slider__image
  max-width: 568px
  width: 100%
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  .img
    width: 100%

.main-slider__image-bg
  position: absolute
  left: 45%
  top: 45%
  transform: translate(-50%,-50%)
  width: 693px

.main-slider__text
  max-width: 418px
  width: 100%
  position: relative
  z-index: 1
  .item-text
    background: url("../img/tooltip-bg.png") no-repeat center
      size: contain
    width: 418px
    height: 252px
    padding: 50px 50px 25px 90px
    margin: 0 0 94px
    font-size: 15.5px
    color: #252525
  .btn
    max-width: 212px
    height: 51px
    border-radius: 7px
    text-transform: uppercase
    font-size: 13px
    font-weight: normal
    margin: 0 0 0 50px
    .icon
      margin: 0 0 0 20px

.name-products__slide
  font-size: 19.5px
  font-weight: 600
  color: $accent
  padding: 0 0 20px
  margin: 0 0 23px
  width: 100%
  text-transform: uppercase
  border-bottom: 3px dotted $accent

//header
header
  position: relative
  background: #fff
  border-bottom: solid 1px rgba(#dedede, .63)

.header
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 12
  border: none

.logo
  display: flex
  align-items: center
  justify-content: center
  background: #fd5f00
  padding: 7px 20px
  img
    max-width: 102px
    width: 100%

.menu
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  padding: 0 0 0 50px
  li
    a
      color: #1b1b1b
      font-size: 14px
      padding: 21px 0
      line-height: 14px
      border-bottom: 2px solid transparent
      &:hover
        color: $accent
        border-bottom-color: $accent
    .active
      color: $accent
      border-bottom-color: $accent

.button-group
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

.links-search
  display: flex
  align-items: center
  justify-content: center
  width: 15px

header
  .button-group
    justify-content: flex-end



.btn-score
  max-width: 155px
  .icon
    width: 21px
    height: 16px
    display: flex
    align-items: center
    justify-content: center

.btn-partner
  max-width: 87px
  margin: 0 16px 0 13px

.slick-dotted.slick-slider
  margin-bottom: 0

.slick-dots
  position: absolute
  left: 50%
  transform: translate(-50%,0)
  bottom: 47px
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  max-width: 970px
  margin: 0 auto
  li
    margin: 0 19px 0 0
    width: 7px
    height: 7px
    background: rgba(#fff, .4)
    border-radius: 50%
    &:last-child
      margin: 0
    button
      display: none
  .slick-active
    width: 13px
    height: 13px
    background: $accent

.slick-arrow
  z-index: 1
  opacity: 1

.slick-prev
  left: 0
  width: 63px
  height: 44px
  background-color: #fd5f00
  padding: 13px 18px
  border-radius: 0 15px 15px 0
  &:before
    content: ''
    border: none
    width: 13px
    height: 21px
    background: url("../img/arrow-left.png") no-repeat center
      size: 100%
    position: absolute
    right: 18px
    top: 50%
    transform: translate(0,-50%)
    opacity: 1

.slick-next
  right: 0
  width: 63px
  height: 44px
  background-color: #fd5f00
  padding: 13px 18px
  border-radius: 15px 0 0 15px
  &:before
    content: ''
    border: none
    width: 13px
    height: 21px
    background: url("../img/arrow-right.png") no-repeat center
      size: 100%
    position: absolute
    left: 18px
    top: 50%
    transform: translate(0,-50%)
    opacity: 1

.slick-slide
  outline: none

//nav-breadcrumb
.nav-breadcrumb
  margin: 27px 0 40px
  padding: 0

.breadcrumb
  padding: 0
  background: transparent
  border-radius: 0
  color: #999999
  font-size: 10.5px
  margin: 0

.breadcrumb-item
  margin: 0 0 4px
  a
    color: #999999
    font-size: 10.5px

.breadcrumb-item+.breadcrumb-item::before
  content: '>'
  color: #999999
  padding-right: 10px

.breadcrumb-item+.breadcrumb-item
  padding-left: 10px
  color: #999999

//sales
.sales
  margin: 0 0 65px

.sales-box
  margin: 0 0 65px
  font-family: $gotham
  max-width: 403px
  width: 100%

.sales-box__image
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 257px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover

.sales-box__body
  padding: 34px 0 0

.sales-box__date
  display: flex
  align-items: center
  color: #656565
  font-size: 13px

.sales-box__name
  color: #000000
  font-size: 19px
  font-weight: 500
  letter-spacing: -0.38px
  margin: 0 0 10px
  text-transform: uppercase

.date-icon
  margin: 0 8px 0 0
  width: 17px
  min-width: 17px

.sales-box__disable
  .sales-box__name
    color: rgba(0, 0, 0, 0.6)
  .sales-box__date
    color: rgba(101, 101, 101, 0.55)
  .date-icon
    filter: grayscale(1)
    opacity: .66

//footer
.list-social
  display: flex
  align-items: center
  justify-content: flex-end
  margin: 6px 0 0
  li
    margin: 0 13px 0 0
    &:last-child
      margin: 0
    a
      width: 24px
      display: flex
      align-items: center
      justify-content: center

.list-social__text
  font-size: 12px
  color: #3b3b3b
  max-width: 97px
  margin: 0 0 0 auto

.footer-box
  font-size: 12px
  color: #000
  letter-spacing: -0.11px
  display: flex
  align-items: center
  &:last-child
    margin: 0

.footer-box__text
  max-width: 228px
  margin: 0 0 0 11px

.phone
  margin: 20px 0 3px 0

.footer-box__icon
  width: 12px
  min-width: 12px

.copyright
  margin: 20px 0 0
  font-size: 10px
  color: #a5a5a5
  width: 100%
  display: flex
  align-items: center
  .links
    text-decoration: underline
    color: #a5a5a5
    display: none
  p
    margin: 0 0 0 auto

//sale
.present-img
  width: 100%
  height: 100%
  max-width: 800px
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

.present
  position: relative
  width: 499px
  height: 309px
  background: url("../img/tooltip-bg2.svg") no-repeat center
    size: 100%
  padding: 45px 45px 45px 133px
  margin: 17px 0 0 -80px
  .description
    margin: 25px 0
    font-size: 16px
    color: #333
  .sales-box__date
    color: #333333
    font-size: 14px
    font-weight: 600
    p
      max-width: 175px
      width: 100%
  .date-icon
    width: 26px
    min-width: 26px
    height: 26px
    img
      width: 100%

.terms-action
  margin: 46px 0 73px
  color: #3d3d3d
  font-size: 16px
  .button-group
    margin: 50px 0 0
    .icon
      width: 31px
      height: 30px
      min-width: 31px
  ul
    margin: 30px 0
  .text
    p
      margin: 0 0 15px
      &:last-child
        margin: 0
  strong
    font-weight: 600
  .btn
    max-width: 326px
    margin: 0 90px 0 0
    height: 72px
    border-radius: 0
    &:last-child
      margin: 0
  .button-group
    justify-content: flex-start

.list-number
  counter-reset: item
  font-size: 14px

  li
    margin: 0 0 15px
    position: relative
    display: flex
    align-items: flex-start
    &:last-child
      margin: 0
    &:before
      content: counter(item, decimal-leading-zero) "."
      display: inline-block
      counter-increment: item
      font-weight: 600
      margin: 0 5px 0 0

.btn-border
  border: dashed 2px #b6b6b6
    radius: 0
  height: 72px
  display: flex
  align-items: center
  justify-content: center
  color: #333333
  font-size: 16px
  font-weight: 500
  .icon
    margin: 0 12px 0 0
  svg
    transition: .3s ease
  &:hover
    color: $accent
    border-color: $accent
    svg
      fill: $accent

.btn-border-orange
  border-color: $accent
  color: $accent
  &:hover
    color: #333333

//issue-card
.issue-card
  width: 100%
  height: 490px
  iframe
    width: 100%
    height: 100%

.issue-map
  width: 100%
  height: 100%

.issuing-center
  margin: 0 0 36px

.dropdown
  width: 100%
  position: relative
  margin: 29px 0 0

.dropDown-item
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  border-radius: 7px
  border: solid 1px #a9a9a9
  padding: 13px 19px 13px 15px
  color: #7c7c7c
  font-size: 15px
  letter-spacing: -0.3px
  cursor: pointer

.dropdown-toggle::after
  content: ''
  background: url("../img/arrow-bottom-grey.png") no-repeat center
    size: contain
  border: none
  width: 10px
  height: 5px

.dropdown-menu
  width: 100%
  margin: -1px 0 0
  padding: 4px 15px 7px
  border: solid 1px #a9a9a9
    radius: 0 0 7px 7px
    top: none

.dropdown-menu.show
  transform: none !important
  top: 100% !important


.dropdown.show
  .dropDown-item
    border:
      bottom: none
      radius: 7px 7px 0 0

.form-search
  width: 100%
  position: relative
  border: solid 1px #dbdbdb
    radius: 10px
  overflow: hidden
  margin: 0 0 17px
  input
    width: 100%
    height: 40px
    border: none
      radius: 0
    color: #575656
    font-size: 14px
    outline: none
    padding: 0 40px
  label
    width: 100%
  button
    padding: 0
    position: absolute
    top: 50%
    transform: translate(0,-50%)
    width: 15px
    height: 16px
    left: 15px
    background: transparent


.pic-points
  width: 324px
  height: 187px
  background: url("../img/tooltip-bg3.png") no-repeat center
    size: 100%
  padding: 36px 32px 20px
  text-align: left
  color: #282b2b
  font-size: 13px
  margin: -200px 0 0px -100px

.pic-points__title
  color: #282b2b
  font-weight: bold
  margin: 0 0 20px

.scroll-horizontal
  height: 470px
  overflow-x: scroll
  padding: 0 0 26px
  &::-webkit-scrollbar
    width: 10px
    height: 1px
  &::-webkit-scrollbar-track
    background-color: #adadad
    border-radius: 2.5px
    height: 5px
  &::-webkit-scrollbar-track-piece
    background-color: #dbdbdb
  &::-webkit-scrollbar-thumb
    background-color: #adadad
    border-radius: 2.5px
    height: 5px
  &::-webkit-scrollbar-corner
    background-color: #dbdbdb
  &::-webkit-resizer
    background-color: #adadad
    border-radius: 2.5px
    height: 5px

.country-box
  margin: 0 0 10px

.list-country
  font-size: 12px
  height: 100%
  width: 100%
  column-count: 5

  li
    a

      color: #575656
      line-height: 1.58
      letter-spacing: -0.19px

.country-box__title
  font-weight: bold
  color: #fd6408
  margin: 10px 0 5px

//catalog
.filter-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  margin: 0 0 25px

.filter-item
  margin: 0 0 10px

.filter-links
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  border: solid 1px #9e9e9e
    radius: 10px
  padding: 9px 19px
  font-size: 16.5px
  color: #8f8f8f
  &:hover
    border-color: $accent
    color: $accent


.filter-links.active
  color: $accent
  border-color: $accent

.product-title__category
  margin: 30px 0 45px
  font-size: 20px
  font-weight: 600

.product-card
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  justify-content: center
  margin: 0 0 30px
  color: #000000
  font-size: 16px

.product-card__image
  max-width: 160px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%

.product-card__name
  max-width: 250px
  margin: 22px auto 0
  color: #000000
  line-height: 1.1
  &:hover
    color: $accent
  span
    display: block

.packing
  margin: 10px auto 0
  color: #68676c
  font-size: 11.5px

.new-box
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin: 9px auto 0
  width: 77px
  height: 27px
  border-radius: 10px
  border: solid 1.5px #fd5f00
  color: $accent
  font-size: 13px
  font-weight: 600

//politics
.politics
  padding: 0 0 70px

.text-item
  color: #242424
  font-size: 14px
  p
    margin: 0 0 20px
    &:last-child
      margin: 0
  ul
    padding: 0 0 0 20px
    margin: 0 0 20px
    &:last-child
      margin: 0
    li
      margin: 0 0 20px



      &:last-child
        margin: 0

.list-arrow
  li
    position: relative
    padding: 0 0 0 24px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 5px
      height: 9px
      background: url("../img/arrow-right-orange.png") no-repeat center
        size: contain

//mission-company
.mission-company
  background: url("../img/about-bg.jpg") no-repeat center
    size: cover
  padding: 80px 0 190px
  color: #fff
  h2
    margin: 0 0 36px
  .text-box
    max-width: 408px
    width: 100%
    font-size: 16px
    font-weight: 500

//history
.history
  padding: 59px 0 66px

.history-img
  margin: 22px 0 0

.history-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 23px 0 0
  img
    width: 100%



//geography
.geography
  padding: 46px 0 37px
  background: #fbfbfb
  h2
    margin: 0 0 30px
  .text-box
    font-size: 16px
    margin: 10px 0 0
    max-width: 600px
    width: 100%

.geography-img
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  img
    width: 100%

.geography-shares
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: flex-end

.geography-share
  padding: 5px 0 5px 35px
  border-left: solid 2px #fe6910
  font-size: 14px
  color: #222222
  margin: 0 40px 0 0
  &:last-child
    margin: 0
  .percent
    font-size: 55px
    margin: 0 0 10px
    color: #3f3f3f

//model-business
.model-business
  padding: 70px 0

.model-business__wrapper
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  margin: 90px 0 0

.model-business__box
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  justify-content: flex-start
  color: #333132
  font-size: 14px
  max-width: 165px
  width: 100%
  h4
    font-size: 16px
    font-weight: 600
    color: #333132
    min-height: 60px
    margin: 29px auto 15px

.model-business__icon
  height: 72px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  img
    height: 100%
    width: auto

//choose
.choose
  background: #fbfbfb
  padding: 44px 0 20px
  h2
    margin: 0 0 60px

.choose-box
  margin: 0 0 30px
  display: flex
  align-items: center
  justify-content: center

//market-place
.market-place
  padding: 70px 0 40px
  h2
    margin: 0 0 38px

.market-place__box
  display: flex
  align-items: center
  justify-content: flex-start
  color: #555555
  font-size: 14px
  margin: 0 0 40px

.market-place__icon
  width: 122px
  display: flex
  align-items: center
  justify-content: center
  min-width: 122px

.market-place__text
  max-width: 275px
  width: 100%
  margin: 0 0 0 25px

.search
  padding: 0 0 108px
  .form-search
    margin: 0 0 46px
  h2
    margin: 0 0 44px

.search-result__box
  width: 100%
  border-top: dashed 1.2px #b6b6b6
  padding: 17px 0 28px
  font-size: 13px
  .text-box
    max-width: 840px
    width: 100%

.category-name
  color: #fd5f00
  font-size: 12px
  font-weight: bold
  text-transform: uppercase

.name-product
  margin: 17px 0 12px
  font-size: 17.5px
  font-weight: 600
  color: #000

//.contacts
.contacts
  padding: 0 0 40px

.maps
  width: 100%
  height: 453px
  iframe
    width: 100%
    height: 100%

.contacts-box__item
  padding: 0 0 40px
  h3
    margin: 0 0 30px
    font-size: 17.5px
    font-weight: 600
    text-transform: none
  .phone
    margin: 20px 0 10px
  .btn
    margin: 45px 0 0

.contacts-box__wrapper
  border-bottom: dashed 1.2px #c1c1c1
  margin: 0 0 50px

.contacts-box
  display: flex
  align-items: flex-start
  color: #000000
  font-size: 15.5px
  p
    max-width: 450px
    width: 100%

.btn-border-orange
  display: flex
  align-items: center
  border-radius: 10px
  max-width: 132px
  padding: 0
  height: 22px

.contacts-box__icon
  margin: 0 13px 0 0
  width: 17px
  min-width: 17px
  display: flex
  align-items: center
  justify-content: flex-start
  img
    width: 100%

.callback
  padding: 54px 0 60px

.description-callback
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  margin: 57px 0 27px
  color: #3e3e3e
  font-size: 16px

  span
    color: #8d8c8c
    font-size: 10.5px
  .decor-item
    font-size: 18px
    font-family: 'bebas', sans-serif

.decor-item
  color: #8d8c8c
  font-size: 22.5px
  font-family: 'bebas', sans-serif

.checkbox
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  text-align: left
  color: #595858
  margin: 9px 0
  .checkbox-inp
    display: none
  .checkbox-custom
    position: relative
    width: 25px
    min-width: 25px
    height: 24px
    display: inline-block
    vertical-align: middle
    border: solid 1px #fd5f00
      radius: 7px
    background: #ffffff
    cursor: pointer
    transition: .3s ease
    margin: 0 10px 0 0
  .label
    display: inline-block
    vertical-align: middle
    font-size: 11.5px
    cursor: pointer
  .checkbox-inp:checked + .checkbox-custom
    &::before
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 13px
      height: 12px
      border-radius: 3px
      background: $accent
  a
    display: inline-block
    color: #595858
    text-decoration: underline

.form-callback
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  label
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    input, textarea
      width: calc(100% - 14px)

  button
    max-width: 260px
    height: 43px
    border-radius: 7px
    margin: 20px 0 0
    font-size: 13.5px
    font-weight: normal
    color: #fff
    text-transform: uppercase
    .icon
      width: 10px
      height: 9px
      margin: 0 0 0 14px
  .checkbox
    align-items: center
    justify-content: flex-start
  .label-file
    align-items: center
    justify-content: center



.form-group
  max-width: 566px
  width: 100%
  margin: 0 0 20px
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  .form-group__file
    margin: 20px 0 0
    padding: 0 15px 0 20px


.form-error
  color: #fd5f00
  font-size: 10.5px
  padding: 0 0 0 20px

.error-input
  border-color: #fd5f00

.dropdown-form
  margin: 0
  display: flex
  align-items: center
  width: calc(100% - 14px)
  .dropdown-menu
    width: 100%
  .dropDown-item
    padding: 9px 20px
    font-size: 14.5px
    width: 100%

.list-callback
  li
    a
      font-size: 14.5px
      color: #595858
      padding: 13px 14px
      &:hover
        background: #f3f3f3
    .active
      background: #f3f3f3

.scroll-vertical
  height: 148px
  overflow-y: auto
  &::-webkit-scrollbar
    width: 2px
    height: 1px
  &::-webkit-scrollbar-track
    background-color: $accent
    border-radius: 2.5px
    height: 5px
  &::-webkit-scrollbar-track-piece
    background-color: #e4e4e4
  &::-webkit-scrollbar-thumb
    background-color: $accent
    border-radius: 2.5px
    height: 5px
  &::-webkit-scrollbar-corner
    background-color: #e4e4e4
  &::-webkit-resizer
    background-color: $accent
    border-radius: 2.5px
    height: 5px

.link-accent
  color: #fd5f00
  font-size: 10.5px
  width: 100%

textarea
  width: 100%
  border: solid 1px #a9a9a9
    radius: 7px
  height: 97px
  color: #595858
  padding: 13px 17px
  outline: none
  box-sizing: border-box
  font-size: 14.5px
  font-family: $default-font
  &::placeholder
    color: #595858


.modal__div
  position: fixed
  max-width: 536px
  width: 97%
  height: 100%
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 101
  overflow: auto
  justify-content: center
  align-items: center
  flex-direction: column
  display: none
  opacity: 0
  .modal__close
    position: relative
    margin: 26px auto 0
    max-width: 124px
    height: 43px
    border-radius: 7px
    font-size: 13.5px
    font-weight: normal
    text-transform: uppercase
  .modal__wrapper
    background: #fff
    width: 100%
    height: auto
    overflow: auto
    margin: 50px auto
    padding: 46px 20px 36px
    box-sizing: border-box
    position: relative
    text-align: center

.modal-img
  margin: 0 auto 30px
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  img
    max-width: 45px
    width: 100%

.modal-description
  margin: 9px auto 0

.overlay
  z-index: 7
  position: fixed
  background-color: #4b4b4b
  opacity: 0.41
  -moz-opacity: 0.41
  filter: alpha(opacity = 41)
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none

//product
.product-image
  display: flex
  align-items: center
  justify-content: center
  max-width: 496px
  margin: 0 auto


.product-content
  font-size: 16px
  .text-box
    p
      margin: 0 0 20px
      &:last-child
        margin: 0

blockquote
  margin: 42px 0 31px
  width: 598px
  height: 117px
  padding: 32px 106px 27px 40px
  background: url("../img/tooltip-bg4.svg") no-repeat center
    size: 100%
  font-size: 16px
  color: $accent
  strong
    font-weight: bold

.packaging
  margin: 49px 0 0

.packaging-list
  margin: 23px 0 0
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap
  font-size: 18px
  font-weight: bold
  font-family: $gotham
  color: $accent
  li
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    &:first-child
      .packaging-img
        width: 46px
    &:nth-child(2)
      .packaging-img
        width: 51px
    &:nth-child(3)
      .packaging-img
        width: 58px
    &:nth-child(4)
      .packaging-img
        width: 64px
    &:last-child
      .packaging-img
        width: 72px

.packaging-img
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 19px

.advantages-product
  padding: 55px 0 57px

.analogies-product
  padding: 0 0 70px
  h2
    margin: 0 0 58px
  .btn
    margin: 0 auto
    height: 50px
    max-width: 262px
    text-transform: uppercase
    font-weight: normal
    font-size: 14px
    border-radius: 7px
    .icon
      width: 10px
      margin: 0 0 0 10px

.advantages-product__box
  border-right: 2px dashed #c7c7c7
  flex: 1
  padding: 20px 22px
  font-size: 16px
  color: #4b4b4b
  &:last-child
    border: none
  .val
    font-size: 25px
    color: $accent
    margin: 10px 0 2px
  span
    color: #8d8d8d
    font-size: 14px

.advantages-product__list
  width: 100%
  display: flex
  align-items: stretch
  border: 2px dashed #c7c7c7
  margin: 46px 0 0

.vacancy-content
  margin: 0 0 50px
  .text-box
    margin: 30px 0 0
    font-size: 16px
    color: #1b1b1b

.vacancy-advantages__box
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 14px
  font-family: $gotham
  h3
    font-size: 18px
    font-weight: 600
    margin: 20px auto 15px
    text-transform: none


.vacancy-advantages__icon
  display: flex
  align-items: center
  justify-content: center
  height: 94px
  width: 100%
  img
    height: 100%
    width: auto

.actual-vacancy
  padding: 60px 0

.table-vacancy
  margin: 46px 0 58px
  padding: 0 28px 0 0
  width: 100%
  height: 433px
  color: #333
  font-size: 14px

.table-vacancy__name
  font-weight: 500
  color: #1f1f1f
  width: 30%

.table-vacancy__schedule
  font-size: 13px
  color: #818181
  width: 30%

.table-vacancy__sum, .table-vacancy__city
  width: 20%

.table-vacancy__line
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  border-radius: 2px
  padding: 25px 29px
  &:nth-child(odd)
    background: #fbfbfb

.actual-vacancy__box
  margin: 0 0 15px
  min-height: 254px
  border: dashed 1.5px #d9dadb
  padding: 27px 27px 29px
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 16px
  color: #333
  .btn
    border-radius: 7px
    text-transform: uppercase
    font-weight: normal
    height: 50px
    font-size: 14px
    margin: auto 0 0
  h3
    font-size: 18px
    font-weight: 600
    text-transform: none



.actual-vacancy__box-top
  width: 100%
  margin: 0 0 25px
  display: flex
  align-items: center

.actual-vacancy__box-icon
  width: 51px
  min-width: 51px
  height: 61px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 13px 0 0
  img
    width: 100%

.actual-vacancy__box2
  .actual-vacancy__box-icon
    width: 72px
    min-width: 72px
    height: 63px

.actual-vacancy__box3
  .actual-vacancy__box-icon
    width: 64px
    min-width: 64px
    height: 71px

.links-document
  display: flex
  align-items: center
  margin: 0 0 18px
  color: #333333
  font-size: 14px
  &:last-child
    margin: 0
  .icon
    width: 26px
    height: 30px
    min-width: 26px
    margin: 0 22px 0 0
  .text
    text-decoration: underline
  svg
    transition: .3s ease
  &:hover
    color: $accent
    border-color: $accent
    svg
      fill: $accent

.label-file
  position: relative
  width: 163px
  height: 37px
  border-radius: 7px
  border: solid 1px #a9a9a9
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: #3e3e3e
  font-size: 14.5px
  cursor: pointer
  margin: 0 0 16px
  input
    display: none

.form-modal
  .label-file
    align-items: center
    justify-content: center
    max-width: 163px
    width: 100%
  button
    max-width: none
    margin: 0 auto

.result-file
  color: #424242
  font-size: 12.5px
  li
    display: flex
    align-items: center
    margin: 0 0 5px
    &:last-child
      margin: 0

.icon-delete
  margin: 0 6px 0 0
  color: #fd5f00
  font-size: 12px
  font-weight: bold
  &:hover
    color: #000


.attach-file__top
  display: flex
  align-items: center
  text-align: left
  color: #3e3e3e
  font-size: 14.5px
  margin: 0 0 6px
  .icon
    margin: 0 11px 0 0
    width: 18px
    height: 17px
    min-width: 18px
    display: flex
    align-items: center
    justify-content: center

.attach-file__size
  color: #8d8c8c
  font-size: 10.5px
  padding: 0 0 0 29px
  
.links-confirm
  text-align: left

.attach-file
  max-width: 160px
  width: 100%
  text-align: left

.form-group__file
  align-items: flex-start

#vacancy__modal
  max-width: 470px
  .modal__close
    margin: 0 -22px 8px auto
    width: 22px
    height: 22px
  .modal__wrapper
    padding: 21px 47px 47px
    box-shadow: 0.9px 1.8px 21px 0 rgba(26, 25, 23, 0.2)
  h2
    text-align: left
  .description-callback
    margin: 33px 0 10px
    p
      text-align: left
      margin: 0 0 8px
    span
      text-align: right
      width: 100%

.form-search__header
  position: absolute
  top: 50%
  transform: translate(0,-50%)
  right: -2px
  width: 302px
  margin: 0
  border-radius: 17.5px
  z-index: 8
  display: none
  button
    left: auto
    right: 13px
  input
    height: 33px
    box-shadow: 0.9px 1.8px 13px 0 rgba(26, 25, 23, 0.2)
    padding: 0 30px 0 10px



.search-wrapper
  position: relative

.btn-burger
  display: none
  align-items: center
  justify-content: space-between
  flex-direction: column
  width: 30px
  height: 20px
  margin: 0 0 0 20px
  position: relative
  span
    width: 100%
    height: 2px
    background: $accent
    transition: .3s ease

.btn-burger.click
  span
    position: absolute
    left: 13px
    top: 0
    width: 2px
    height: 100%
    &:nth-child(2)
      width: 0
    &:first-child
      transform: rotate(45deg)
    &:last-child
      transform: rotate(135deg)

.mobile-menu
  position: fixed
  left: 0
  top: 58px
  width: 100%
  z-index: 5
  background: #fff
  overflow-y: auto
  height: calc(100% - 67px)
  padding: 20px
  opacity: 0
  visibility: hidden
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1)
  will-change: height
  //&:before
  //  content: ''
  //  position: absolute
  //  left: 0
  //  top: 0
  //  background: #fff
  //  width: 100%
  //  height: 0
  //  transition: all .5s linear
  //  transition-delay: 2s
  .menu
    width: 100%
    flex-direction: column
    align-items: flex-start

    li
      position: relative
      overflow: hidden
      margin: 0 0 15px
      &:first-child
        a
          transition-delay: 0s, 0s, 0s
      &:nth-child(2)
        a
          transition-delay: 0.05s, 0.05s, 0s
      &:nth-child(3)
        a
          transition-delay: 0.1s, 0.1s, 0s
      &:nth-child(4)
        a
          transition-delay: 0.15s, 0.15s, 0s
      &:nth-child(5)
        a
          transition-delay: 0.2s, 0.2s, 0s
      &:nth-child(6)
        a
          transition-delay: 0.25s, 0.25s, 0s
      &:last-child
        margin: 0
      a
        font-size: 1.4375em
        color: $accent
        padding: 0
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
        transform: translateY(100%)
        will-change: transform, opacity
        line-height: 1
        opacity: 0
      .active
        border: none
  .form-search
    margin: 40px 0 20px
    overflow: hidden
    max-width: 360px
    width: 100%
    height: 38px
    border: none
      radius: 0
    position: relative
    input
      height: 38px
      padding: 0 10px 0 30px
      border: none
        radius: 0
        bottom: 2px solid $accent
    label
      transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      transform: translateY(100%)
      will-change: transform, width
      transition-delay: 0.3s, 0.3s, 0s
      width: 0
    button
      left: 0
      width: 25px
      height: 100%
      transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      will-change: opacity
      transition-delay: 0.35s, 0.35s, 0s
      opacity: 0
    svg
      fill: $accent
  .button-group
    margin: 0 0 20px
    max-width: 360px
    justify-content: space-between
    .btn
      font-size: 14px
      height: 38px
      border-radius: 20px
    .btn-partner
      max-width: 48%
    .btn-score
      max-width: 48%
  .list-social
    margin: 0
    justify-content: flex-start
    li
      position: relative
      overflow: hidden
      a
        width: 40px
        transform: translateY(140%)
        transition-delay: 2.9s
        transition: all .7s linear
      &:nth-child(2)
        a
          transition-delay: .3s
      &:nth-child(3)
        a
          transition-delay: .6s
  .copyright
    color: #a5a5a5
    font-size: 14px
    margin: auto 0 0
    font-weight: 300
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
    transform: translateY(100%)
    will-change: transform, opacity
    transition-delay: 0.4s, 0.4s, 0s
    opacity: 0

.mobile-menu.open
  opacity: 1
  visibility: visible
  transition: 0s linear
  .menu, .list-social
    li
      a
        transform: translateY(0)
        opacity: 1
        transition-property: transform, opacity, color
        transition-duration: 0.55s, 0.55s, 0.3s
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out
  .copyright
    transform: translateY(0)
    opacity: 1
    transition-property: transform, opacity, color
    transition-duration: 0.55s, 0.55s, 0.3s
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out
  .form-search
    label
      transform: translateY(0)
      width: 100%
      transition-property: transform, width
      transition-duration: 0.55s, 0.55s, 0.3s
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out
    button
      opacity: 1
      transition-property: opacity
      transition-duration: 0.55s, 0.55s, 0.3s
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out



//smi
.smi
  margin: 111px 0 14px
  h1
    margin: 0 0 50px
    font-size: 27.5px


.smi-box
  width: 100%
  height: 350px
  background: #212121
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap
  padding: 38px 37px
  margin: 0 0 42px
  position: relative
  .text-box
    letter-spacing: 0.13px
    font-size: 18px
    line-height: normal
    padding: 0 30px 0 0
  &:hover
    .smi-box__image
      opacity: .6

.smi-box__image
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  opacity: .3
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  transition: .3s ease
  img
    width: 100%
    height: 100%
    object-fit: cover

.smi-box__title
  position: relative
  z-index: 1
  font-size: 29.5px
  font-weight: 600
  letter-spacing: -0.59px
  color: #fff
  width: 100%

.logo-smi
  width: 113px
  height: 113px
  background-color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 40px
  position: relative
  z-index: 1

.btn-loader
  height: 51px
  max-width: 192px
  margin: 0 auto
  border-radius: 7px
  font-size: 13px
  font-weight: normal
  text-transform: uppercase
  outline: none
  box-shadow: none
  &:focus
    outline: none
    box-shadow: none
  .icon-arrow
    margin: 0 0 0 18px
    transform: rotate(90deg)
    transition: .3s ease

.btn-scroll-top
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  bottom: 222px
  right: 111px
  border-radius: 50%
  width: 57px
  height: 57px
  transition: .3s ease
  background: url("../img/up_no_active.svg") no-repeat center
    size: contain
  cursor: pointer
  opacity: 0
  visibility: hidden
  &:hover
    background: url("../img/up_active.svg") no-repeat center
      size: contain


.btn-smi
  max-width: 185px
  margin: 20px auto 0
  height: 50px
  font-size: 15.5px
  padding: 8px 0
  border-radius: 25px
  img
    width: 32px
    margin: 0 8px 0 0



@import "blog"
@import "media"
// Всегда в конце
